{% extends 'base.html.twig' %}

{% block title %}{{ source.name }}{% endblock %}

{% block body %}
<div data-controller="facebook">
    <h3 class="text-2xl font-medium my-4 col-span-3">{{ source.name }}</h3>

    <div class="border rounded border-gray-700 w-full p-4">
        {% if account %}
            <p>Connected account: {% if adAccountId %} {{ adAccountId }} {% else %} Please select an ad account bellow !{% endif %}</p>

            <a href="{{ path('marketing_source_disconnect', {slug: source.slug}) }}" class="inline-block mt-4 px-4 py-3 bg-gray-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-y-75 transition-transform">
                Disconnect
            </a>
        {% else %}
            <p>No account connected</p>
            <button data-action="facebook#login" class="mt-4 px-4 py-3 bg-gray-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-y-75 transition-transform">
                Connect
            </button>
        {% endif %}
    </div>

    {% if account %}
    <div class="my-4">
        {# {{ dump(adAccounts) }} #}
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="text-left border-b-2 border-gray-600 bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    <th class="px-5 py-3">AD Account</th>
                    <th>ID</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for adAccount in adAccounts %}
                <tr class="border-b border-gray-600 bg-gray-800 text-sm hover:bg-gray-700 hover:cursor-pointer">
                    <td class="px-5 py-3">{{ adAccount.name }}</td>
                    <td>{{ adAccount.account_id }}</td>
                    <td>
                        <input type="radio" name="ad_account" class="hover:cursor-pointer" value="{{ adAccount.account_id }}" data-facebook-target="adAccount"
                            {% if adAccountId == adAccount.account_id %}checked{% endif %}>
                        {% if adAccountId == adAccount.account_id %}
                            <label class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-600 bg-indigo-50 rounded-full">ACTIVE</label>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button data-action="facebook#save" class="mt-4 px-4 py-3 bg-green-600 rounded-md text-white outline-none focus:ring-4 shadow-lg transform active:scale-y-75 transition-transform">
            Save
        </button>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    window.fbAsyncInit = function() {
        FB.init({
        appId            : {{ facebookAppId }},
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v14.0'
        });
    };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}