<div id="add_custom_cost_modal" data-controller="modal"
  class="{% if not form.vars.submitted or form.vars.valid %}hidden animate-fade-in {% endif %}
  fixed flex items-center top-0 left-0 w-full h-screen bg-black/60 z-10">
  <div class="flex flex-col w-11/12 sm:w-5/6 lg:w-1/2 max-w-2xl mx-auto rounded-lg shadow-xl">
    <div class="flex flex-row justify-between p-6 bg-gray-800 border-b-2 border-gray-600 rounded-tl-lg rounded-tr-lg">
      <p class="font-semibold text-gray-200">Add a custom cost</p>
      <button type="button" data-action="modal#close">
        <i class="fa fa-times"></i>
      </button>
    </div>

    {{ form_start(form) }}
      <div class="flex flex-col px-6 py-5 bg-gray-800 gap-4">
        {{ form_row(form.name) }}
        {{ form_row(form.startDate, {attr: {'data-controller': 'datepicker'}}) }}
        {{ form_row(form.endDate, {attr: {'data-controller': 'datepicker'}}) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.frequency) }}
      </div>
      <div class="flex flex-row items-center justify-between p-5 bg-gray-800 border-t-2 border-gray-600 rounded-bl-lg rounded-br-lg">
        <button type="button" data-action="modal#close">Cancel</button>
        <button type="submit" class="px-4 py-2 text-white font-semibold bg-blue-500 rounded">Add</button>
      </div>
    {{ form_end(form) }}
  </div>
</div>
