{% extends "base.html.twig" %}

{% block title %}Settings - COGS{% endblock %}

{% block body %}
    <div class="flex justify-between mb-10 mt-5">
        <h2 class="text-2xl font-medium">{{ 'settings.cogs.title' | trans }} ({{ products| reduce((sum, p) => sum + (p.variants | length)) }})</h2>

        <a href="{{ path('settings_sync_products') }}" class="btn btn-primary">
            <i class="fa fa-sync pr-2"></i><span>Sync Products</span>
        </a>
    </div>

    {% if products %}
    <table class="w-full text-sm text-center">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-6 py-3" colspan=2>Image</th>
                <th class="px-6 py-3">Title</th>
                <th class="px-6 py-3">Cost</th>
            </tr>
        </thead>
        {% for product in products %}
            <tbody data-controller="table">
                <tr data-action="click->table#toggle" class="bg-white dark:bg-gray-800 border-gray-700 cursor-pointer {% if loop.index != loop.length %} border-b{% endif %}">
                    <td>
                        <span data-table-target="iconClosed"><i class="fa fa-angle-right"></i></span>
                        <span data-table-target="iconOpend" hidden><i class="fa fa-angle-down"></i></span>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <div class="flex-shrink-0 w-10 h-10 hidden sm:table-cell">
                                <img src="{{ product.image ?? 'https://via.placeholder.com/35'}}" class="w-full h-full rounded-full" alt="Product Thumbnail">
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 text-left">
                        {{ product.title }} ({{ product.variants | length }} variants)
                    </td>
                    <td class="px-6 py-4">-</td>
                </tr>
                {% for variant in product.variants %}
                <tr class="border-b border-gray-700 bg-gray-600 text-sm" data-table-target="subrow" hidden>
                    <td class="px-6 py-2" colspan=2>
                        <div class="flex items-center">
                            <div class="flex-shrink-0 w-10 h-10 hidden sm:table-cell">
                                <img src="{{ variant.image ?? 'https://via.placeholder.com/35'}}" class="w-full h-full rounded-full" alt="Product Thumbnail">
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-2 text-left">{{ variant.title }}</td>
                    <td class="px-6 py-2" data-controller="cogs">
                        <input type="text" value="{{variant.cost}}" max="8" data-cogs-target="cost"
                            class="w-24 h-8 shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-center invalid:border-red-500" disabled>
                        <button type="button" class="btn-edit" data-action="cogs#edit" data-cogs-target="edit">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="submit" class="btn-save" data-action="cogs#save" data-cogs-url-param="{{path('settings_cogs_update', {id: variant.id})}}" data-cogs-target="save" hidden>
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        {% endfor %}
    </table>
    {% else %}
        <p>Product list is empty, try syncing products first</p>
    {% endif %}

{% endblock %}
