{% extends "base.html.twig" %}

{% block title %}Settings - Custom Costs{% endblock %}

{% block body %}
    <div class="flex justify-between mb-10 mt-5">
        <h2 class="text-2xl font-medium">{{ 'settings.custom.title' | trans }}</h2>

        <button data-controller="modal" data-action="modal#open" data-modal-name-param="add_custom_cost" class="btn btn-primary">
            <i class="fa fa-plus pr-2"></i><span>Add</span>
        </button>
    </div>

    <table class="w-full text-sm text-center text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
                <th class="px-6 py-3">Name</th>
                <th class="px-6 py-3">Start Date</th>
                <th class="px-6 py-3">End Date</th>
                <th class="px-6 py-3">Frequency</th>
                <th class="px-6 py-3">Amount</th>
                <th class="px-6 py-3">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for cost in costs %}
                <tr class="border-t bg-gray-800 border-gray-700">
                    <td class="px-6 py-4 text-left">{{ cost.name }}</td>
                    <td class="px-6 py-4">{{ cost.startDate ? cost.startDate | date('Y-m-d') : '-' }}</td>
                    <td class="px-6 py-4">{{ cost.endDate ? (cost.endDate | date('Y-m-d')) : '-' }}</td>
                    <td class="px-6 py-4">{{ cost.frequency }}</td>
                    <td class="px-6 py-4">{{ cost.amount | format_currency('EUR') }}</td>
                    <td class="px-6 py-4">
                        <a href="{{ path('settings_custom_delete', {customCost: cost.id}) }}" data-controller="confirm" data-action="confirm#confirm" data-confirm-message-value="Do you really want to delete this cost ?">
                            <i class="fa fa-trash text-red-500 hover:text-red-600"></i>
                            <span class="sr-only">Delete</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% if not costs %}
                <tr class="bg-gray-800">
                    <td class="px-6 py-4 text-sm w-1/10" colspan=6>
                        No custom costs have been added. Make sure you add your custom costs.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% include 'modals/_add-custom-cost-modal.html.twig' %}
{% endblock %}
