{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block body %}
	<h2 class="text-2xl lg:text-red-500 font-medium my-4">{{ 'dashboard.title' | trans }}</h2>
    <div class="grid md:grid-cols-4 mb-4">
        <div class="col-span-3">
            {{ form_start(searchForm) }}
                <div class="grid grid-cols-4 gap-4">
                    <div class="grid grid-cols-1">
                        {{ form_label(searchForm.dateStart) }}
                        {{ form_widget(searchForm.dateStart) }}
                    </div>
                    <div class="grid grid-cols-1">
                        {{ form_label(searchForm.dateEnd) }}
                        {{ form_widget(searchForm.dateEnd) }}
                    </div>
                    <div class="grid grid-cols-1 content-end">
                        <div>
                            {{ form_widget(searchForm.submit) }}
                        </div>
                    </div>
                </div>
            {{ form_end(searchForm) }}
        </div>
    </div>

    <div class="mt-10 grid lg:grid-cols-5 md:grid-cols-3 grid-cols-1 gap-4">
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.revenue" | trans, value: data.revenue, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.orders" | trans, value: data.orders, type: 'number'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.aov" | trans, value: data.aov, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.cogs" | trans, value: data.cogs, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.margin" | trans, value: data.margin, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.margin_rate" | trans, value: data.margin_rate, type: 'rate'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.totaladspend" | trans, value: data.totalAdSpend, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.fbadspend" | trans, value: data.fbAdSpend, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.cpa" | trans, value: data.cpa, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.roas" | trans, value: data.roas, type: 'float'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.profit" | trans, value: data.profit, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.profit_rate" | trans, value: data.profit_rate, type: 'rate'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.custom_cost" | trans, value: data.custom_cost, type: 'money'} %}
        {% include "components/dashboard-item.html.twig" with {title: "dashboard.indicators.refunds" | trans, value: data.refunds, type: 'money'} %}
    </div>

{% endblock %}
