<div class="flex-1 bg-gray-800 rounded p-4 shadow">
	<h3 class="text-xs font-medium uppercase text-gray-500">{{ title }}</h3>
	<p class="text-2xl font-bold">
		{% if type == 'money' %}
			{{ value | format_currency('EUR') }}
		{% elseif type == 'float' %}
			{{ value | round(2) }}
		{% elseif type == 'rate' %}
			{{ value | format_percent_number  }}
		{% else %}
			{{ value }}
		{% endif %}
	</p>
</div>
